.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
h1 {
  color: #fff;
  font-size: 28px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.1);
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
  & button {
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #dc391c;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  &:button:hover {
    background-color: #f03918;
  }
  & input {
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #090707;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
    background-color: #f98888a5;
    height: 40px;
    color:#fff;
   
  }
  & input::placeholder {
    color: rgba(233, 227, 227, 0.7);
  }
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px;    
    width: 400px;     
    & p {
        color: #fff;
        font-weight: bold;
    }
    & span{
        font-weight: normal;
    }                                                      
}
    & button {
        background: none;
        border: none;
        cursor: pointer;
    }
    & button:hover {
        opacity: 0.7;
    }
  .message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}