*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, #ff0000 0%, #000000 100%);
}